<mat-card>
    <mat-card-content>
        <h1>Zaboravili ste vašu lozinku?</h1>
        <p>Unesite vašu email adresu da resetujete vašu lozinku. Na vaš email poslaćemo poruku sa linkom za resetovanje lozinke. Link ima ograničeno vreme trajanja. Možda ćete morati da proverite i Spam folder na vašem Email nalogu.</p>
        <form>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Unesite vašu email adresu" [formControl]="email">
                <mat-hint>Unesite vaš Email sa kojim ste se registrovali na portalu</mat-hint>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button color="primary" class="btn">Pošalji<mat-icon class="icon">chevron_right</mat-icon></button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
<hr>
<!-- ============================= -->
<div style="color: red;">
    <i>Nakon dobijanja mejla i linka za resetovanje lozinke, klikom na link se otvara ovaj prozor ispod na našem portalu... tako nesto u implementaciji funkcionalnosti ... gde se unosi nova lozinka i ona setuje u bazi na mesto stare lozinke</i> 
</div>
<!-- ============================= -->
<mat-card>
    <mat-card-content>
        <h1>Unesite vašu novu lozinku?</h1>
        <p>Nakon unosa i potvrde nove lozinke, sa njom se možete ubuduće prijavljivati na naš portal.</p>
        <form>
            <mat-form-field hintLabel="Maksimalno 16 karaktera">
                <mat-label>Nova lozinka</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" #input maxlength="16" placeholder="Unesite vašu novu lozinku" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="end">{{input.value?.length || 0}}/16</mat-hint>
            </mat-form-field>
            <mat-form-field hintLabel="Maksimalno 16 karaktera">
                <mat-label>Potvrdite lozinku</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" #inputN maxlength="16" placeholder="Potvrdite vašu novu lozinku" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="end">{{inputN.value?.length || 0}}/16</mat-hint>
            </mat-form-field>
            <div class="request-fields">
                <span>* obavezna polja</span>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="btn">Pošalji<mat-icon class="icon">chevron_right</mat-icon></button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>