<mat-card>
    <mat-card-content>
        <h1>Zaboravili ste vašu lozinku?</h1>
        <p>Unesite vaše <strong>korisničko ime</strong> i <strong>email adresu</strong> da resetujete vašu lozinku. Na vaš email poslaćemo poruku sa linkom za resetovanje lozinke. Klikom na link otvara vam se stranica gde treba da unesete vašu novu lozinku. Možda ćete morati da proverite i Spam folder na vašem Email nalogu.</p>
        <form>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Korisničko ime</mat-label>
                <input matInput placeholder="Unesite vaše korisničko ime" [formControl]="userName" name="username" [(ngModel)]="username" required>
                <mat-hint>Unesite korisničko ime sa kojim ste se registrovali na portalu</mat-hint>
                <mat-error *ngIf="userName.invalid">{{getErrorMessageForUserName()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Unesite vašu email adresu" [formControl]="eMail" name="email" [(ngModel)]="email">
                <mat-hint>Unesite vaš Email sa kojim ste se registrovali na portalu</mat-hint>
                <mat-error *ngIf="eMail.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button color="primary" class="btn"  (click)=resetPassword()>Pošalji<mat-icon class="icon">chevron_right</mat-icon></button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
