<div class="container animated bounceInRight">
    <div class="grid">
        <div class="org-basic">
            <mat-card class="avatar">
                <mat-icon>account_circle</mat-icon>
                <mat-card-title>{{userData.organization}}</mat-card-title>
                <mat-card-subtitle>{{userData.city}}</mat-card-subtitle>
            </mat-card>
            <mat-card-content>
                <mat-card-subtitle>{{userData.organizationInfoText}}</mat-card-subtitle>
            </mat-card-content>
        </div>

        <div class="org-edit">
            <mat-tab-group dynamicHeight>
                <mat-tab label="OSNOVNI PODACI">
                    <div class="mat-elevation-z4">
                        <mat-card>
                            <label>Adresa:</label>
                            <h2>{{userData.street}}</h2>
                            <label>Oblast delovanja:</label>
                            <h2>{{userData.areaactivity}}</h2>
                            <mat-divider></mat-divider>
                            <label>Kontakt osoba:</label>
                            <h2>{{userData.person}}</h2>
                            <label>Kontakt telefon:</label>
                            <h2>{{userData.telephone}}</h2>
                            <mat-divider></mat-divider>
                            <label>Email:</label>
                            <h2>{{userData.email}}</h2>
                            <label>Web adresa:</label>
                            <h2>{{userData.website}}</h2>
                        </mat-card>
                    </div>
                </mat-tab>
                <mat-tab label="UREDI PODATKE">
                    <div class="mat-elevation-z4">
                        <mat-card class="title-card">
                            <span>Uredi osnovne podatke o organizaciji</span>
                        </mat-card>
                        <mat-card>
                            <mat-card-content>
                                <form class="my-form">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Naziv organizacije</mat-label>
                                        <input matInput placeholder="Unesite naziv organizacija" value="{{userData.organization}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Ulica i broj</mat-label>
                                        <input matInput placeholder="Unesite ulicu i broj" value="{{userData.street}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Mesto</mat-label>
                                        <input matInput placeholder="Unesite grad" value="{{userData.city}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Kontakt osoba</mat-label>
                                        <input matInput placeholder="Unesite ime i prezime kontakt osobe" value="{{userData.person}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Kontakt telefon</mat-label>
                                        <input matInput placeholder="Unesite broj telefona" value="{{userData.telephone}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Oblast delovanja</mat-label>
                                        <input matInput placeholder="Oblast delovanja" value="{{userData.areaactivity}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Veb adresa sajta</mat-label>
                                        <input matInput placeholder="primer: www.vasvebsajt.com" value="{{userData.website}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="primer: vasamejladresa@neki.com" value="{{userData.email}}">
                                    </mat-form-field>

                                    <mat-form-field class="full-width span-input" hintLabel="Maksimalno 500 karaktera"
                                        appearance="outline">
                                        <mat-label>Tekst o organizaciji</mat-label>
                                        <textarea matInput maxlength="500" #txt
                                            placeholder="Unesite nešto o vašoj organizaciji" value="{{userData.organizationInfoText}}"></textarea>
                                        <mat-hint align="end">{{txt.value?.length || 0}}/500</mat-hint>
                                    </mat-form-field>

                                    <mat-card-actions>
                                        <button mat-raised-button color="primary">Sacuvaj promene</button>
                                    </mat-card-actions>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-tab>
                <mat-tab label="PROMENI LOZINKU">
                    <div class="mat-elevation-z4">
                        <mat-card class="title-card">
                            <span>Promeni korisnicko ime i lozinku</span>
                        </mat-card>
                        <mat-card>
                            <mat-card-content>
                                <form class="my-form">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Korisničko ime</mat-label>
                                        <input matInput placeholder="Unesite vaše korisničko ime">
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Lozinka</mat-label>
                                        <input matInput placeholder="Unesite lozinku">
                                    </mat-form-field>

                                    <mat-card-actions>
                                        <button mat-raised-button color="primary">Sacuvaj promene</button>
                                    </mat-card-actions>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>